/** ------------Table styles------------ */
.table thead {
	padding:14px 0px 14px 0px;
}

.yui-skin-sam .yui-dt-liner { 
	font-weight:normal;text-decoration:none;color:#000; /* header text */ 
	vertical-align:bottom; 
	padding:15px 0px !important;
	margin:0;
	font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.table td{ 
	display: none;
}
.table th{ 
	box-shadow: 3px 2px 5px 2px #888888;
}

#table-container { 
	display: inline;
	min-width: 1000px;
}


/** ------------Table colours------------ */
.yui-dt-liner {
	background-color: #eee;
}

/** ------------Containers------------ */
#table-container  .table{ display: inline; }

#table-container  .table table{ display: inline-table; }

.container {
	padding: 15px 0;
	font-size: 20px;
	font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
}

#input-container {
	font-size: 12px;
	display: inline-block;
	padding: 0 50px 0 0;
}

/** ------------Label Styles------------ */
.label {
	text-align: right;
	min-width: 400px;
	display: inline-block;
	padding: 0 30px 0 0;
}

.input-label{
	display: inline-block;
}

.second-label {
	min-width: 200px;
}

/** ------------TextArea Styles------------ */
textarea {
	width:500px !important;
	min-width:500px !important;
	max-width:500px !important;
	height:160px !important;
	min-height:160px !important;
	max-height:160px !important;
	background-color: white;
}
#results-container {
	padding: 20px 0 0 430px;
}

/** ------------Other Styles------------ */
.hidden {
	display: none !important;
}

.input {
	width: 50px;
}

#container-of-containers {
	padding: 0 0 40px 0;
}

.read {
	padding: 4px 0;
}

.image {
	padding: 0 0 0 435px;
	display: inline-block;
}

#image2 {
	padding: 0 0 0 0;
}

.upright {
	padding: 0 0 0 435px;
}