ul.simpleTreeMenu {
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

ul.simpleTreeMenu ul {
    margin-left: 0px;
}

ul.simpleTreeMenu li {
    margin-left: 0px;
    padding-left: 0px;
}

ul.simpleTreeMenu li.Node,
ul.simpleTreeMenu li.Leaf {
    list-style-type: none;
    white-space: nowrap;
}

ul.simpleTreeMenu span.stm-icon {
    background-position: 5px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

ul.simpleTreeMenu li.Node>.stm-icon:before {
    content: url("menu-arrow-right.png");
}

ul.simpleTreeMenu li.Leaf>.stm-icon:before {
    content: url("menu-dot.png");
}

ul.simpleTreeMenu li.expanded>.stm-icon:before {
    content: url("menu-arrow-down.png");
}

ul.simpleTreeMenu .stm-content {
    display: inline-block;
}

ul.simpleTreeMenu .stm-content:hover,
ul.simpleTreeMenu li.Node>.stm-icon:hover {
    background-color: #eee;
    cursor: pointer;
}

ul.simpleTreeMenu li.selected .stm-content {
    background-color: #ddd;
}

ul.simpleTreeMenu li.EmptyNode {
    color: #808080;
}
